.galaxy-project-logo
{
    background-image: url('../assets/GalaxyVid.gif');
}

.console-project-logo
{
    background-image: url('../assets/ConsoleManager.png');
}

.color-project-logo
{
    background-image: url('../assets/ColorWheel.png');
}

.utils-project-logo
{
    background-image: url('../assets/BUP.png');
}

.PRJ-project-logo
{
    background-image: url('../assets/PRJ.png');
}

.flax-project-logo
{
    background-image: url('../assets/flax.png');
}