.galaxy-project-logo
{
    background-image: url('../assets/GalaxyVid.gif');
}

.console-project-logo
{
    background-image: url('../assets/ConsoleManager.png');
}

.color-project-logo
{
    background-image: url('../assets/ColorWheel.png');
}